button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 10px;
    border-color: blue;
    text-decoration: underline;
}

button.activo{
    background-color: white;
    border-color: white;
    color: blue;
}