.boton {
    background-color: blue;
    color: white;
    font-weight: 600;
    border-radius: 18px;
    border: 0px;
    transition: 0.3s;
}

.boton:hover {
    background-color: blue;
    transition: 0.3s;
    color: white;
}

.boton:active {
    background-color: blue;
    transition: 0.3s;
    color: white;
}