.card {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.toggle-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: red;
    cursor: pointer;
}

.card-content {
    margin-top: 10px;
    background-color: white;
}