.contenedor{
    height: 60px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    
}

.imagen{
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
}

.titulo{
    color: white;
    
}

.div-1, .div-2, .div-3{
    width: 30%;
}

.caja-abajo{
    position: relative;
    height: 100%;
}

.caja-abajo div{
    position: absolute;
    bottom: 0;
    margin-right: 5px;
}