.caja_puntos_container{
    display: flex;
    width: 100%;
    justify-content: center;

}

.caja_puntos_columna_1{
    display: flex;
    justify-content: center;
    width: 50px;
    align-items: center;
}

.caja_puntos_columna_2{
    width: calc(100% - 100px);
    max-width: 200px;
}

.caja_puntos_columna_3{
    display: flex;
    justify-content: center;
    width: 50px;
    align-items: center;
}